.TopLevelWrapper {
  display: flex;
  flex-direction: column;
}
.SearchListAndMapWrapper {
  display: flex;
  flex-direction: row;
}
.SearchListWrapper {
  height: 100vh;
  overflow: scroll;
  max-width: 700px;
}
.ToggleButton {
  background-color: darkgreen;
  color: white;
  width: 70px;
  height: 30px;
  position: fixed;
  bottom: 2%;
  left: 45%;
  border: 0;
}
.MapWrapper {
  height: 750px;
  width: 100%;
}
.FullWidth {
  width: 100vw;
}
.Hide {
  display: none;
}
.Show {
  display: block;
}
