.TopLevelWrapper{
    display: flex;
    flex-direction: column;
   
}
.SearchListAndMapWrapper {
    display: flex;
    flex-direction: row;
}
.SearchListWrapper{
    height:100vh;
    width:600px;
    z-index:1;
}
.ToggleButton {
    background-color: darkgreen;
    color: white;
    width: 100px;
    height: 50px;
    position: fixed;
    z-index:10;
    bottom:0;

}
.MapWrapper {
    z-index:1;
    height:750px;
    width: 100%;
}
@media only screen and (max-width: 770px) {
    
  }